.speeches-in-parliment{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.speeches-in-parliment h2{
    background-color: #1565C0; 
    padding: 1em; 
    margin-top: 1em; 
    color: white; 
    font-weight: bold;
}

.speeches-in-parliment p{
    padding: 1em; 
    font-size: 0.7em;
}

.button-bg{
    background: #eee;
}

.button {
    background-color: #F50057; /* Green */
    border: none;
    color: white;
    padding: 12px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:1em 0em 1em 1em
  }