.contact-content{
    margin: 1em;
    padding-bottom: 2em;
    background: white; 
}

.contact-content div{
    padding-bottom: 2em;
}

.contact-content div a{
    text-decoration: none;
}


.contact-content div i{
    padding-right: 0.5em;
    color: rgb(21, 101, 192);
} 