.footer-section {
 background-color: #00334e;
 color: #eee;
 
  }

  .footer-section h1{
    margin: 1em;
    padding-top: 10px;
  }
  .footer{
    display: grid;
 grid-template-columns: 20% 20% auto;
  }

  .footer li{
    list-style: none;
    line-height: 2em;
    font-size: large;
    font-weight: 700;
  }

  .footer li a{
    color: #eee;
    text-decoration: none;
  }